.button {
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-size: auto;
  background-image: url("../images/button-left.svg");
  &_mode_dark {
    background-image: url("../images/button-left-dark.svg");
  }
  &:hover {
    opacity: 0.6;
  }
  @include mobile {
    width: 24px;
    height: 24px;
    background-size: contain;
  }
  &_move_next {
    transform: rotate(180deg);
  }
}
