.switcher {
  grid-area: switcher;
  width: 140px;
  height: 40px;
  gap: 22px;
  padding: 6px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  &__button {
    width: 44px;
    height: 24px;
    border-radius: 22px;
    border: none;
    cursor: pointer;
    position: relative;
    &::after {
      content: '';
      display: block;
      background-color: #24b47e;
      width: 20px;
      height: 20px;
      border-radius: 10px;
      position: absolute;
      top: 2px;
      left: 2px;
      transition: .6s;
    }
    &:hover::after {
      opacity: 0.8;
    }
    &_mode {
      &_light {
        background-color: $color-white;
      }
      &_dark {
        background-color: #545454;
        &::after {
          transform: translate(20px, 0);
        }
      }
    }
  }
}

